@import "bootstrap.min.css";
@import "./icons/css/fontello.css";

.custom-slider {
    height: 100vh;

    > div, > div > div{
        height:100%;
    }
    > div.row{
        > div{
            display: flex;
        }
    }

    .custom-slider-slides{
        border: 1px solid;
        overflow: hidden;
    }

    .custom-slider-button{
        text-align: center;
        position: relative;
        cursor: pointer;
        i{
            align-self: center;
            margin:0 auto;
        }
        &:hover{
            background: red;
            color: white;
        }
    }

    .custom-slider-navigation {
        height:auto;
        width:100%;
        position: absolute;
        z-index: 40;
        bottom: 50px;
        left:0;
        text-align: center;
        input[type="radio"] {
            transform: scale(1.5);
        }
    }
    .custom-slider-button{

    }
    .custom-slider-track {
        position: relative;
        left:0;
        top:0;
        height:100%;
        z-index: 10;
        &.drag{
            z-index:999999;
        }
        .slide {
            display: none;
            position: absolute;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 20;
            transform: translateX(-100%);
            transition-duration: .4s;

            &.prevItem {
                left: -20%;
                display: flex;
            }

            &.nextItem {
                left: 220%;
                display: flex;
            }
            &.active {
                left: 100%;
                display: flex;
                z-index: 30;
            }

            img, svg, iframe{
                align-self: center;
                margin: 0 auto;
                max-height:100%;
            }
            img {
                width:100%;
            }
        }
    }
}