@import url(bootstrap.min.css);
@import url(./icons/css/fontello.css);
.custom-slider {
  height: 100vh; }
  .custom-slider > div, .custom-slider > div > div {
    height: 100%; }
  .custom-slider > div.row > div {
    display: flex; }
  .custom-slider .custom-slider-slides {
    border: 1px solid;
    overflow: hidden; }
  .custom-slider .custom-slider-button {
    text-align: center;
    position: relative;
    cursor: pointer; }
    .custom-slider .custom-slider-button i {
      align-self: center;
      margin: 0 auto; }
    .custom-slider .custom-slider-button:hover {
      background: red;
      color: white; }
  .custom-slider .custom-slider-navigation {
    height: auto;
    width: 100%;
    position: absolute;
    z-index: 40;
    bottom: 50px;
    left: 0;
    text-align: center; }
    .custom-slider .custom-slider-navigation input[type="radio"] {
      transform: scale(1.5); }
  .custom-slider .custom-slider-track {
    position: relative;
    left: 0;
    top: 0;
    height: 100%;
    z-index: 10; }
    .custom-slider .custom-slider-track.drag {
      z-index: 999999; }
    .custom-slider .custom-slider-track .slide {
      display: none;
      position: absolute;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 20;
      transform: translateX(-100%);
      transition-duration: .4s; }
      .custom-slider .custom-slider-track .slide.prevItem {
        left: -20%;
        display: flex; }
      .custom-slider .custom-slider-track .slide.nextItem {
        left: 220%;
        display: flex; }
      .custom-slider .custom-slider-track .slide.active {
        left: 100%;
        display: flex;
        z-index: 30; }
      .custom-slider .custom-slider-track .slide img, .custom-slider .custom-slider-track .slide svg, .custom-slider .custom-slider-track .slide iframe {
        align-self: center;
        margin: 0 auto;
        max-height: 100%; }
      .custom-slider .custom-slider-track .slide img {
        width: 100%; }

/*# sourceMappingURL=style.css.map */
